<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div id="div0">
        <div id="div_top"><iframe id="iframe_top"    th:src="@{/page.do?operate=page&page=frames/top}" frameborder="no"></iframe></div>
        <div id="div_left"><iframe id="iframe_left"  th:src="@{/page.do?operate=page&page=frames/left}"frameborder="no" onload="this.style.height = window.frames[1].document.body.scrollHeight+'px';"></iframe></div>
		<div id="div_main"><iframe id="iframe_main"  th:src="@{/page.do?operate=page&page=frames/main}" scrolling="no" frameborder="no" onload="this.style.height = Math.max(window.frames[1].document.body.scrollHeight,window.frames[2].document.body.scrollHeight)+'px';"></iframe></div>
        <div id="div_bottom">
            <p class="center" >版权所有&reg;，欢迎盗版</p>
        </div>
    </div>
</body>
</html>