
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01.演示Axios发送普通的参数值给服务器端</title>
<!--  <script language="JavaScript" src="script/vue.js"></script>-->
  <script src="script/vue.global.js"></script>
  <script language="JavaScript" src="script/axios.min.js"></script>
      <script !src="">
        window.onload = function () {
          let app = Vue.createApp({
              data : function ()  {
                  return{
                      uname : "caicande",
                      pwd : "ok"
                  }
              },
            methods: {
              axios01 : function () {
                axios({
                  method: "POST",
                  url:"axios01.do",
                  data: {
                    uname: this.uname,
                    pwd: this.pwd
                  }
                })
                        .then(function (value) {
                          console.log(value);
                        })
                        .catch(function (reason) {
                          console.log(reason);
                        });
              }
            }

          });
          app.mount("#div0")
        }
      </script>

</head>
<body>
<div id="div0">
  uname:<input type="text" v-model="uname"/><br/>
  pwd:<input type="text" v-model="pwd"/><br/>
  <input type="button" v-on:click="axios01" value="发送一个带普通请求参数值的异步请求"/>
</div>
</body>
</html>