<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>尚硅谷会员注册页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}" />
    <script th:src="@{/static/script/register.js}"></script>
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a th:href="@{/index.html}">
        <img class="logo_img" alt="" th:src="@{/static/img/logo.gif}" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>注册尚硅谷会员</h1>
        <form th:action="@{/user.do}" method="post" onsubmit="return checkRegister()">
          <input type="hidden" name="operate" value="register"/>
          <div class="form-item">
            <div>
              <label>用户名称:</label>
              <input id="nameTxt" type="text" placeholder="请输入用户名" name="registerName" onblur="ckUname(this.value)" />
            </div>
            <span id="nameSpan" class="errMess">用户名应为6~16位数组和字母组成</span>
<!--            <span id="ckNameId" class="errMessName">用户名被占用</span>-->
<!--            <span id="ckNameId2" class="errMessName2">用户名可用</span>-->
          </div>
          <div class="form-item">
            <div>
              <label>用户密码:</label>
              <input id="pwdTxt" type="password" placeholder="请输入密码" name="registerPwd" value="ok"/>
            </div>
            <span id="pwdSpan" class="errMess">密码的长度至少为8位</span>
          </div>
          <div class="form-item">
            <div>
              <label>确认密码:</label>
              <input id="pwdConfirm" type="password" placeholder="请输入确认密码" name="confirmPwd" value="ok"/>
            </div>
            <span id="pwd2Span" class="errMess">密码两次输入不一致</span>
          </div>
          <div class="form-item">
            <div>
              <label>用户邮箱:</label>
              <input id="emailTxt" type="text" placeholder="请输入邮箱" name="registerEmail" value="caicande@126.com"/>
            </div>
            <span id="emailSpan" class="errMess">请输入正确的邮箱格式</span>
          </div>
          <div class="form-item">
            <div>
              <label>验证码:</label>
              <div class="verify">
                <input type="text" placeholder="" name="registerKaptch" />
                <img th:src="@{/kaptch.jpg}" alt="" />
              </div>
            </div>
            <span class="errMess">请输入正确的验证码</span>
          </div>
          <button class="btn">注册</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        尚硅谷书城.Copyright &copy;2015
      </span>
    </div>
  </body>
</html>
